<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wipe</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/images/favicon-32x32.png"
  />
</head>
<body>
    <header>
        <nav class="topNav">
            <a href="/" class="nav-link"><span>Main</span></a>
            <a href="/login" class="nav-link"><span>Login</span></a>
            <a href="/signup" class="nav-link"><span>Signup</span></a>
            <a href="/request" class="nav-link"><span>Request</span></a>
            <a href="/uniques" class="nav-link"><span>Uniques</span></a>
            <a href="/gems" class="nav-link"><span>Gems</span></a>
            <a href="/others" class="nav-link"><span>Others</span></a>
            <a href="/jobs" class="nav-link"><span>Jobs</span></a>
            <a href="/users" class="nav-link"><span>Users</span></a>
            <a href="/builds" class="nav-link"><span>Builds</span></a>
            <a href="/resources" class="nav-link"><span>Resources</span></a>
            <a href="/logout" class="nav-link"><span>Logout</span></a>
        </nav>
    </header>

    <button id="menuButton" type="button">Menu</button>
    <nav class="menuNav">
        <a href="/" class="nav-link"><span>Main</span></a>
        <a href="/login" class="nav-link"><span>Login</span></a>
        <a href="/signup" class="nav-link"><span>Signup</span></a>
        <a href="/request" class="nav-link"><span>Request</span></a>
        <a href="/uniques" class="nav-link"><span>Uniques</span></a>
        <a href="/gems" class="nav-link"><span>Gems</span></a>
        <a href="/others" class="nav-link"><span>Others</span></a>
        <a href="/jobs" class="nav-link"><span>Jobs</span></a>
        <a href="/users" class="nav-link"><span>Users</span></a>
        <a href="/builds" class="nav-link"><span>Builds</span></a>
        <a href="/resources" class="nav-link"><span>Resources</span></a>
        <a href="/logout" class="nav-link"><span>Logout</span></a>
    </nav>

    <h1>God Mode:</h1>
    <ul class="all-requested">
        <li class="field-description">Poe Account Name - Discord Name</li>
        <% users.forEach( el => { %>
                <li class='userItem'  data-id='<%=el._id%>'>
                    <span class="userDescriptor">
                        <a href="https://www.pathofexile.com/account/view-profile/<%=el.userName%>"><%= el.userName %></a> - <%= el.discordName %>
                    </span>
                    <section class="adminActions">
                        <% if(!el.isVerified){%>
                            <span class="verifyUser">Verify</span>
                        <%}%>                        
                        <% if(el.isVerified){%>
                            <span class="verifiedUser">Verified</span>
                        <%}%>
                         <% if(!el.isAdmin){%>
                            <span class="adminUser">Admin</span>
                        <%}%>
                        <% if(el.isAdmin){%>
                            <span class="adminedUser">Admin</span>
                        <%}%>
                        <span class="deleteUser">Delete</span>
                    </section>


                </li>
        <% }) %>   
    </ul>


    <script src="js/main.js"></script>
</body>
</html>