<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIYRA DONK GSF</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
    <header>
        <nav class="topNav">
            <a href="/" class="nav-link"><span>Main</span></a>
            <a href="/login" class="nav-link"><span>Login</span></a>
            <a href="/signup" class="nav-link"><span>Signup</span></a>
            <a href="/request" class="nav-link"><span>Request</span></a>
            <a href="/uniques" class="nav-link"><span>Uniques</span></a>
            <a href="/gems" class="nav-link"><span>Gems</span></a>
            <a href="/others" class="nav-link"><span>Others</span></a>
            <a href="/jobs" class="nav-link"><span>Jobs</span></a>
            <a href="/users" class="nav-link"><span>Users</span></a>
            <a href="/builds" class="nav-link"><span>Builds</span></a>
            <a href="/resources" class="nav-link"><span>Resources</span></a>
            <a href="/logout" class="nav-link"><span>Logout</span></a>
        </nav>
    </header>

    <button id="menuButton" type="button">Menu</button>
    <nav class="menuNav">
        <a href="/" class="nav-link"><span>Main</span></a>
        <a href="/login" class="nav-link"><span>Login</span></a>
        <a href="/signup" class="nav-link"><span>Signup</span></a>
        <a href="/request" class="nav-link"><span>Request</span></a>
        <a href="/uniques" class="nav-link"><span>Uniques</span></a>
        <a href="/gems" class="nav-link"><span>Gems</span></a>
        <a href="/others" class="nav-link"><span>Others</span></a>
        <a href="/jobs" class="nav-link"><span>Jobs</span></a>
        <a href="/users" class="nav-link"><span>Users</span></a>
        <a href="/builds" class="nav-link"><span>Builds</span></a>
        <a href="/resources" class="nav-link"><span>Resources</span></a>
        <a href="/logout" class="nav-link"><span>Logout</span></a>
    </nav>
    
    <section class='welcome'>
    	<img src="images/hyperchewing.webp" class="chewers">
    	<h1>Welcome to the barn!</h1>
    	<img src="images/hyperchewing.webp" class="chewers">
	</section>
    <p class="intro">Come join <a href="https://www.twitch.tv/iiyra">iiyra</a>, <a href="https://www.twitch.tv/donk_aeden">Donk</a>, <a href="https://www.twitch.tv/lotusparadisebird">Lotus</a>, <a href="https://www.twitch.tv/dodo_irl">Dodo</a>, <a href="https://www.twitch.tv/legendarysting">Sting</a>, <a href="https://www.twitch.tv/its_cronk">Cronky</a>, <a href="https://www.twitch.tv/mrspadetv">MrSpade</a>, and maybe <a href="https://www.twitch.tv/Drevvska">Drevvska</a>, and farm together and avoid nasty trade leagues!</p>

    <img class="welcome-image">
    
    <section class="information">
        <h2>Global Channel: 969</h2>
        <h2>Rules</h2>
        <ol>
            <li>No migrating, GSF is a crowdfund of items, items belong to the league
                <ul>
                    <li>DO NOT migrate without discussing it with any of Donk or iiyra 
                        <ul>
                            <li>Rule of thumb, leave chase items and hard to get items in the league, if you need currency we can figure something out. (not necessarily expensive, like gruthkul's pelt or replica uniques / transfigured  gems that are hard to find)
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Pay your slot in the league
                <ul>
                    <li>the amount is to be determined based on how many people join</li>
                </ul>
            </li>

            <li> Join iiyra's <a href="https://discord.gg/iiyra">discord</a></li>
                <ul>
                    <li>use the 'hehe' channel for specific gsf league discussions, there is also a poe specific channel as well to discuss non gsf league poe things</li>
                </ul>
            </li>

            <li>Guild stash: 
                <ul>
                    <li>IF YOU PUT SOMETHING IN, EXPECT IT TO BE USED/GONE</li>
                    <li>There are dedicated tabs where people exchange items (Heist tab for heist runners so dump rogue markers,blueprints, and contracts needed by the runners here. meme named channel like BIO for items requested from other players like gems or uniques via the unique and gem request pages or items from trade requested) - please ask before removing, those items typically are for someone, especially if equipment.</li>
                    <li>Watcher's eyes, timeless and forbidden jewels are there to be used and just a place to put them all for guild to use. (please only hold onto 1 so others can use them too)</li>
                    <li>Exceptional gems (Empower/Enlighten/Enhance): Double corrupt them (Doryani's lens in temple) , better rates of success than vaal orb for lv4</li>
                </ul>
            </li>

            <li> Be reasonable: This is a GSF, <strong>expect to farm items you need and do not expect others to do so for you</strong>. Be courteous/civil/polite, especially since a lot of people are generous and give items people ask for without requesting anything in return, just that you pay it forward for the league.</li>
            <li><strong>TL;DR: Don't abuse people's generosity.</strong></li>

            <li>Index your entire stash by setting all tabs to public (no need to set prices)<img class="trade-filter" src="https://i.imgur.com/ScjWlBW.png" alt="Screenshot showing to change trade filter of sale type to 'ANY' that way you can see items that don't just have a buyout"></li>
        </ol>
    </section>

    <footer class="shameless-plug">
        <h6>Made by <a href="https://www.andmperotti.com">Drevvska</a></h6>
        <img src="images/RaffleWinner10.png" class="shameless-plug-img">
        <p>This product isn't affiliated with or endorsed by Grinding Gear Games in any way.</p>
    </footer>

    <script src="js/main.js"></script>
</body>
</html>