<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" >
</head>
<body>
    <header> 
        <nav>
            <a href="/" class="nav-link"><span>Main</span></a>
            <a href="/login" class="nav-link"><span>Login</span></a>
            <a href="/signup" class="nav-link"><span>Signup</span></a>
            <a href="/request" class="nav-link"><span>Request</span></a>
            <a href="/uniques" class="nav-link"><span>Uniques</span></a>
            <a href="/gems" class="nav-link"><span>Gems</span></a>
            <a href="/others" class="nav-link"><span>Others</span></a>
            <a href="/jobs" class="nav-link"><span>Jobs</span></a>
            <a href="/users" class="nav-link"><span>Users</span></a>
            <a href="/builds" class="nav-link"><span>Builds</span></a>
            <a href="/resources" class="nav-link"><span>Resources</span></a>
        </nav>
    </header>

    <h1>Resources</h1>
    <ul class="displayed-list">
        <a href="https://www.reddit.com/r/pathofexile/comments/97qpnq/list_of_book_of_regrets_quests/"><li>List of Book of Regrets Quests</li></a>
        <a href="https://www.reddit.com/r/pathofexile/comments/vge8e6/disable_this_setting_and_my_fps_went_up_to_100/id2o4ik/"> <li>Turning of NVIDIA High Definition in device manager = more fps</li></a>
        <a href="https://saveriodesign.gitlab.io/fossil-cheatsheet/"><li>Delve Fossil Cheat Sheet</li></a>
        <a href="https://blight.raelys.com/"><li>Blight oil anointing simulator</li></a>
        <a href="https://gggtracker.com/"><li>GGG Post Tracker</li></a>
        <a href="https://www.i-volve.net/jol/poe_xpdrop_en.php"><li>POE xp and drop penalties calculator</li></a>
        <a href="https://www.craftofexile.com/en/"><li>Craft of exile</li></a>
        <a href="https://poedb.tw/us/DelveBiomes"><li>Delve Biomes and fossil locaitons, more in depth than above</li></a>
        <a href="https://spidermari.github.io/"><li>Synthesis items & implicits, good luck finding them though :|</li></a>
        <a href="https://www.pathofexile.com/forum/view-thread/1733474"><li>GGG Known Issues</li></a>
        <a href="https://github.com/pboutin/chaos-recipe-overlay"><li>Chaos recipe overlay thing, not sure if it still works though</li></a>
        <a href="https://github.com/JusKillmeQik/PoE-Leveling-Guide"><li>POE Leveling guide ahk with maps of layouts and other useful stuff</li></a>
        <a href="https://www.poewiki.net/wiki/Path_of_Exile_Wiki"><li>The real poe wiki, fandom sucks</li></a>
        <a href="https://github.com/ChaosRecipeEnhancer/ChaosRecipeEnhancer"><li>Another chaos recipe overlay thing</li></a>
        <a href="https://docs.google.com/document/d/e/2PACX-1vSZOKFXMqOuLFbwBRBXInOa50GiesDpEGwXJGYiRJBzH5jkwVpmZORd-JX1MBgv7W5qWTGvHJW9Cwg4/pub"><li>Manni's expedition strat</li></a>
        <a href="https://poe.re/"><li>REGEX building website</li></a>
        <a href="https://www.reddit.com/r/pathofexile/comments/n3pxxc/when_did_we_get_regex_search_in_tabs/"><li>Some regex tips for searching for things in stash</li></a>
        <a href="https://github.com/Lailloken/Lailloken-UI"><li>Lailloken ui script, does some interesting things</li></a>
        <a href="https://docs.google.com/spreadsheets/d/1fIs8sdvgZG7iVouPdtFkbRx5kv55_xVja8l19yubyRU/htmlview?pru=AAABfQv1eN0#"><li>Spreadsheets/cheat sheets for everything, LIKE HEIST CLICK HERE EEBA</li></a>
        <a href="https://github.com/vegeto079/PoESparkDPSCalculator"><li>Poe spark dps calculator, I miss you methodical spark gamer</li></a>
        <a href="https://github.com/PathOfBuildingCommunity/PathOfBuilding"><li>POB</li></a>
        <a href="https://docs.google.com/spreadsheets/d/1m2oZfqkVK69p6vO2mPDavGJvF5DT_FknDe1y2uG9bpc/edit#gid=0"><li>Divination card weights</li></a>
        <a href="https://poedb.tw/us/League#ConcurrentPlayers"><li>POE League Concurrent Player graphs</li></a>
        <a href="https://mapsofexile.com/"><li>Maps of Exile, a website that helps you find the best map depending on what divination card you're trying to farm</li></a>
        <a href="https://www.reddit.com/media?url=https%3A%2F%2Fpreview.redd.it%2Fsanctum-room-content-cheat-sheet-v0-ogkyzqhmey5a1.png%3Fwidth%3D1080%26crop%3Dsmart%26auto%3Dwebp%26s%3D5530bea1a6aa65bc4b4bf4a6cefb13366f8c46a8"><li>Sanctum room cheat sheet</li></a>
        <a href="" hidden><li></li></a>
    </ul>
    <img src="images/numbers.gif">
    <h2 class="centered-description">If you have something to add please post it in the hehe league discord channel and @Drevvska, thanks!</h2>


</body>
</html>