<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/images/favicon-32x32.png"
  />
</head>
<body>
    <header>
        <nav class="topNav">
            <a href="/" class="nav-link"><span>Main</span></a>
            <a href="/login" class="nav-link"><span>Login</span></a>
            <a href="/signup" class="nav-link"><span>Signup</span></a>
            <a href="/request" class="nav-link"><span>Request</span></a>
            <a href="/uniques" class="nav-link"><span>Uniques</span></a>
            <a href="/gems" class="nav-link"><span>Gems</span></a>
            <a href="/others" class="nav-link"><span>Others</span></a>
            <a href="/jobs" class="nav-link"><span>Jobs</span></a>
            <a href="/users" class="nav-link"><span>Users</span></a>
            <a href="/builds" class="nav-link"><span>Builds</span></a>
            <a href="/resources" class="nav-link"><span>Resources</span></a>
            <a href="/logout" class="nav-link logout"><span>Logout</span></a>
        </nav>
    </header>

    <button id="menuButton" type="button">Menu</button>
    <nav class="menuNav">
        <a href="/" class="nav-link"><span>Main</span></a>
        <a href="/login" class="nav-link"><span>Login</span></a>
        <a href="/signup" class="nav-link"><span>Signup</span></a>
        <a href="/request" class="nav-link"><span>Request</span></a>
        <a href="/uniques" class="nav-link"><span>Uniques</span></a>
        <a href="/gems" class="nav-link"><span>Gems</span></a>
        <a href="/others" class="nav-link"><span>Others</span></a>
        <a href="/jobs" class="nav-link"><span>Jobs</span></a>
        <a href="/users" class="nav-link"><span>Users</span></a>
        <a href="/builds" class="nav-link"><span>Builds</span></a>
        <a href="/resources" class="nav-link"><span>Resources</span></a>
        <a href="/logout" class="nav-link logout"><span>Logout</span></a>
    </nav>
    
    <img src="images/signup.gif" class="signupPic">
    <form action="/signup" method="POST" class="signupForm">
        <label>Account Name:<input type="text" name="userName" placeholder="ex: Drevvska#5067" autocomplete="off" required pattern="\w+#\d+"></label>
        <label> Discord Name<input type="text" name="discordName" placeholder="ex: Drevvska" autocomplete="off" required></label>
        <label>Email:<input type="email" name="email" placeholder="ex:Chris@nz.com" autocomplete="off" required></label>
        <label>Password:<input type="password" name="password" placeholder="min 8 characters" autocomplete="off" required></label>
        <lable>Confirm Password<input type="password" name="confirmPassword" placeholder="repeat please" autocomplete="off" required></lable>
        <input type="submit" value="Create Account" id="signupSubmitButton">
    </form>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    <h3 class="verify-disclaimer">After you sign up, you'll need to be verified by an admin to use the site, someone like drevvska, iiyra, donk, or miggs</h3>
    <script src="js/main.js"></script>
</body>
</html>